<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet"
          href="../static/style.css">
</head>
<body>
<header>
    <div class="wall">
        <div class="head">
            <h1>  Рейтинг поставщиков</h1>
        </div>
    </div>
</header>
<div class="main">
    <div class="searcher">
        <input type="text" id="request" placeholder="Код КПГЗ" title="Введите имя или номер класса">
        <button id="myButton" onclick="call()"> Найти по КПГЗ </button>
    </div>
    <div class="compar">
        <input type="text" id="request_1" placeholder="ИНН" title="">
        <button id="сomp_btn" onclick="compare()"> Найти по ИНН </button>
    </div>

    <div class="table">
        <div class="table_header">
            <h1>  Сравнение поставщиков</h1>
        </div>
        <div class="table_body">
            <div class="parametrs" id="parametrs">
            </div>
            <div class="items" id="items">
            </div>
            <div>
                <button id="loader" class="load_more" onclick="addNextPages()"> Показать еще </button>
            </div>
        </div>
    </div>
</div>
<div>
    <script src="../static/index.js"></script>
</body>